{{#link-to 'idea' idea.id}}
  <div class="listing">
    <div class="content">
      <div class="title">{{idea.title}}</div>
      {{!-- Excerpt helper for description --}}
      <div class="description">{{idea.description}}</div>
    </div>
  </div>
{{/link-to}}
