<div class="listing">
  {{#link-to 'idea' idea.id}}
    <div class="content">
      <div class="title">{{idea.title}}</div>
      {{!-- Excerpt helper for description --}}
      <div class="description">{{excerpt idea.description}}</div>
    </div>
  {{/link-to}}
</div>
