<div>{{input type="text" value=title placeholder="Your Great Idea"}}</div>
<div>{{textarea value=description placeholder="What is it about?"}}</div>
<button class="btn red" {{action 'create'}}>Submit</button>
