<div class="share-form">
  <div>
    <h2>Share Something</h2>
  </div>
  <div>
    <label for="title">What's Your Idea?</label>
    {{input type="text" value=title placeholder="Title" key-up="updateSlug"}}
    {{#if slug}}
      <p><small><b>{{slug}}</b></small></p>
    {{/if}}
    <small>Make sure it means something.</small>
  </div>
  <div>
    <label for="description">Describe Your Idea</label>
    {{textarea value=description placeholder="What is it about?" name="description"}}
    <small>Try writing a description over 150 characters. A meaningful one.</small>
  </div>

  <button class="create" {{action 'create'}}>Create</button>
</div>
