// Various Colors
$red: #C86767;
$blue: #67A5C8;
$blue-dark: #728590;
$grey: #707070;
$grey-light: #EEEEEE;
$twitter: #00aced;

// Page Variables
$body-bg: $grey-light;
$header-bg: #F9F9F9;


// Grid Settings
$max-width: em(1088);
