header {
  background: $header-bg;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .container {
    @include outer-container();
    nav { @include span-columns(4); }
  }

  .links {
    padding: 10px 0;
    a {
      display: inline-block;
      padding: 14px 0;
      font-size: 16px;
      margin-right: 10px;

      &.share {
        @include button($blue-dark, #FFF);
        padding: 10px 25px;
      }
    }
  }

  .user {
    .actions {
      float: right;
      padding: 12px 0;
      .login {
        @include button($blue, #FFF);
        padding: 10px 40px;
      }
    }

    .info {
      float: right;
      padding: 12px 0;

      img {
        border-radius: 100%;
        width: 45px;
        height: 45px;
        border: 0px solid $blue-dark;
        transition: all 200ms ease-in-out;
        &:hover {
          border-width: 4px;
        }
      }
    }
  }
}
