<header>
  <nav class="links">
    <a href="#">Home</a>
    <a href="#">Explore</a>
    <a href="#">Share</a>
  </nav>
</header>

<main class="content">
  {{outlet}}
</main>

{{!-- <footer>
  <section>
    <p>Some Random Content</p>
  </section>
  <section>
    <p>Some Random Content</p>
  </section>
  <nav>
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 1</a></li>
    </ul>
  </nav>
</footer> --}}
