{{!-- THE IDEA SHOW PAGE --}}

<section class="idea-hero dark">
  <div class="container">

    <section>
      <div class="title">{{model.title}}</div>
      <div class="categories">
        <div class="header">Categories</div>
        <span>
          <a href="#">app</a>, <a href="#">idea</a>, <a href="#">chat service</a>
        </span>
      </div>
    </section>

    <section>
      <div class="description">
        <div class="header">Description</div>
        <p>{{model.description}}</p>
      </div>
      <div class="users">
        <div class="header">Participating</div>
        {{!-- List of Members of project or idea... --}}
      </div>
    </section>

    <section>
      <div class="actions">
        <div class="header"></div>
        <div>
          <button class="btn">Join Chat</button>
          {{!-- !!!!Just for testing purposes!!!! --}}
          <button {{action 'delete' model.id}} class="btn red">Delete</button>
        </div>
      </div>

      <div class="meta">
        {{!-- Some actions of owner(s) here --}}
      </div>
    </section>

  </div>
</section>
