<div class="container">

  {{#if session.isAuthenticated}}
    <section class="ideas">
      {{#each model.ideas as |idea|}}
        {{idea-listing idea=idea}}
      {{/each}}
    </section>
  {{/if}}

</div>
