<div class="container">
  <div class="share-form">
    <div>
      <h2>Login</h2>
    </div>
    <div>
      <label for="username">Username</label>
      {{input type="text" value=username placeholder="Username"}}
    </div>
    <div>
      <label for="password">Password</label>
      {{input type="password" value=password placeholder="Password"}}
    </div>

    <button class="btn red" {{action 'create'}}>Login</button>
  </div>
</div>
